UnitTestingPlatformSpecific/.vs
UnitTestingPlatformSpecific/UnitTestingPlatformSpecific/.vs
UnitTestingPlatformSpecific/UnitTestingPlatformSpecific/obj
UnitTestingPlatformSpecific/UnitTestingPlatformSpecific/bin
UnitTestingPlatformSpecific/UnitTestingPlatformSpecific/UnitTestingPlatformSpecific.csproj.user
UnitTestingPlatformSpecific/UnitTestingPlatformSpecific.Test/bin
UnitTestingPlatformSpecific/UnitTestingPlatformSpecific.Test/obj
.vs
UnitTestingPlatformSpecific.Test/bin
UnitTestingPlatformSpecific.Test/obj
UnitTestingPlatformSpecific/obj
UnitTestingPlatformSpecific/UnitTestingPlatformSpecific.csproj.user
UnitTestingPlatformSpecific/bin
